<% @page_title = "Your AI chat" %>
<%# Subscribing the client to a channel%>
<%= turbo_stream_from @chat %>

  <%# Container %>
<div class="bg-[#F2FFFB] rounded-t-2xl flex flex-col flex-1 min-h-0">
  
  <%# Inner white chat card %>
  <div class="rounded-2xl shadow-md flex flex-col flex-1 overflow-hidden min-h-0">

    <%# Messages container that is scrollable %>
    <div id ="messages" class="flex-1 overflow-y-auto p-4 space-y-4 min-h-0">
      <%= render "messages/messages", messages: @chat.messages %>
    </div>

    <%# Chatbox  %>
    <div id="new_message_container" class="bg-[#F7FAF9] p-3 flex-shrink-0">
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
